*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/bg3.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
.text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 50px;
    font-weight: 500;
}
.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.text-box a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
}
.text-box a:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
    border-radius: 20px;
    
}
.text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

.snow, .snow2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/snow.png);
    background-position: 0 0;
   
}

/* audio { display:none;} */

.snow{
    background-size: 70em;
    animation: snowfall 30s linear infinite;
}

.snow2{
    background-size: 50em;
    animation: snowfall2 30s linear infinite;
    opacity: 0.5;
}

@keyframes snowfall{
    100% {
        background-position: 70em 70em;
    }
}

@keyframes snowfall2 {
    100% {
        background-position: 50em 0;
    }
}


